.user-png
{
    width:50px;
    height:40px;
}

.navbar-brand
{
    color:rgb(240, 18, 84);
    font-size: 25px;
    font-weight: bold;
}

.button-nav
{
    
    background-color:rgb(240, 18, 84);
    border-radius: 10px;
    /* width:30%; */
    color:aliceblue !important;
    text-align: center;
    font-weight: bold;
}

.button-nav .nav-link {
    color: #fff !important;
}

